<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reddit_ticker">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Needed by URL launcher https://pub.dev/packages/url_launcher#android -->
    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <data android:scheme="https" />
      </intent>
    </queries>
</manifest>
